@page
@model NotesApp2._0.Pages.Notes.AddNoteModel
@{
}
<h1> Add new note </h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Note.Title"></label>
        <input asp-for="Note.Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Note.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Note.Content"></label>
        <input asp-for="Note.Content" class="form-control" />
        <span class="text-danger" asp-validation-for="Note.Content"></span>
    </div>
    <button type="submit">Save</button>
</form>